<% if @user %>
  <h1>Welcome <%= @user.username %></h1>
  <h3><%= @user.email %></h3>
<% else %>
  <h2>Please Sign In<h2>
<% end %>

<h2> My Bookmarks </h2>
<ul id='links'>
  <% @links.each do |link| %>
    <li>
      Title: <%= link.title %>
      Url: <a href="<%= link.url %>"><%= link.url %></a>
    </li>
  <% end %>
</ul>

